{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 card p-4 shadow-sm mt-4">
        <h3 class="text-center mb-4">Add New Product</h3>
        
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Product Name</label>
                <input type="text" name="name" class="form-control" placeholder="e.g. iPhone 15" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Price (INR)</label>
                <input type="number" step="0.01" name="price" class="form-control" placeholder="e.g. 79000" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Image URL</label>
                <input type="url" name="image_url" class="form-control" placeholder="https://..." required>
                <div class="form-text">Paste a link to an image (Unsplash, Google Images, etc).</div>
            </div>

            <div class="mb-3">
                <label class="form-label">Product Description</label>
                <textarea name="description" class="form-control" rows="4" placeholder="Enter technical specs, features, warranty info..."></textarea>
            </div>
            
            <button class="btn btn-warning w-100 fw-bold">Publish Product</button>
        </form>
    </div>
</div>
{% endblock %}